.air-admin
{
    font-size: 20px;
    max-width: 350px;
    position: absolute;
    top: 55%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-family: 'Montserrat',
        sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
}

.row input, textarea 
{
    font-family: 'Montserrat',
        sans-serif;
    font-size: 18px;
    width: 100%;
    line-height: 40px;
    resize: none;
    padding-top: 1px;
}

.add-to-db, .delete-from-db
{
    width: 100%;
    line-height: 50px;
    text-decoration: none;
    font-family: 'Montserrat',
        sans-serif;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: bold;
    color: #524f4e;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
    cursor: pointer;
    margin-top: 10px;
}

.add-to-db:hover, .delete-from-db:hover
{
    background: #2EE59D;
    color: white;
}

.add-to-db:active, .delete-from-db:active
{
    transform: translateY(-10px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.form-control 
{
    font-size: 18px;
    font-family: 'Montserrat',
        sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    width: 350px;
    height: 40px;
}
