.air-cart
{
    font-size: 20px;
    max-width: 350px;
    margin: 50px auto 0;
    font-family: 'Montserrat',
        sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
}

.row input, .row textarea
{
    font-family: 'Montserrat',
        sans-serif;
    font-size: 18px;
    width: 100%;
    line-height: 40px;
    resize: none;
}

.row-icon input 
{
    font-family: 'Montserrat',
        sans-serif;
    font-size: 18px;
    width: 100%;
    padding: 0 10px 0 50px;
    line-height: 40px;
}

.row-icon .data 
{
    position: absolute;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.row-icon .telephone 
{
    background: url("../images/telephone.png") center no-repeat;
}

.row-icon .email 
{
    background: url("../images/email.png") center no-repeat;
}

.row-icon .send 
{
    background: url("../images/send.png") center no-repeat;
}

.send-email 
{
    width: 100%;
    line-height: 50px;
    text-decoration: none;
    font-family: 'Montserrat',
        sans-serif;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: bold;
    color: #524f4e;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
    cursor: pointer;
    margin-top: 10px;
}

.send-email:hover 
{
    background: #2EE59D;
    color: white;
}

.send-email:active 
{
    transform: translateY(-10px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.refresh-captcha 
{
    width: calc(100% - 120px) !important;
    text-decoration: none;
    font-family: 'Montserrat', 
        sans-serif;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: bold;
    color: #524f4e;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
    cursor: pointer;
    margin: 0 !important;
    float: right;
    height: 50px !important;
}

.refresh-captcha:hover 
{
    background: #2EE59D;
    color: white;
}

.refresh-captcha:active
{
    transform: translateY(-10px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.captcha-image 
{
    position:absolute; 
    float: left;
}

.total-sum 
{
    font-size: 20px;
    font-family: 'Montserrat',
        sans-serif;
    overflow: hidden;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: bold;
    position:relative;
    text-align: center;
    padding: 35px;
}

.plus-goods, .minus-goods, .delete-goods 
{
    display: inline-block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 20px;
}

.cart-container
{
    height: 100%;
    width: 100%;
    max-width: 1620px;
    margin: 0 auto;
}

.main-cart 
{
    height: 380px;
    font-size: 18px;
    text-align: center;
    float: left;
    padding-right: 25px;
    padding-left: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

.images 
{
    width: 172px;
    height: 172px;
}

.msg 
{
    text-transform: uppercase;
    border: 2px solid #df2443;
    border-radius: 3px;
    text-align: center;
    font-weight: bold;
    font-family: 'Montserrat',
        sans-serif;
    width: 350px;
    height: 45px;
    padding-top: 10px;
    font-size: 12px;
    margin-top: 40px;
}

.none 
{
    display: none;
}

.error 
{
    border-bottom: 3px solid #df2443;
}