.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 80vh;
    background-color: rgb(245, 245, 246);
}

.intro-title {
    margin-bottom: 30px;
    
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    transition: color .1s linear;
}

.slider {
    width: 1200px;
    height: 500px;
    background:rgb(255, 255, 255); 
    margin: 0 auto;
    box-shadow: 0 18px 25px rgba(0, 0, 0, .1);
    border: 3px solid;
}

.block {
    position: absolute;
    font-size: 20px;
    display: none;
    text-align: center;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

.block.curry {
    display: block;
}

.block:first-child {
    width: 1200px;
}

.block:nth-child(2) {
    width: 1200px;
}

.block:nth-child(3) {
    width: 1200px;
}

.spec {
    padding-bottom: 10%;
}

.next {
    text-decoration: none;
    width: 140px;
    height: 45px;
    border-radius: 45px;
    font-family: 'Montserrat',
        sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: bold;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s; 
    margin-top: 45%; 
    margin-left: 38%; 
}

.previous {
    text-decoration: none;
    width: 140px;
    height: 45px;
    border-radius: 45px;
    font-family: 'Montserrat',
        sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: bold;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
}


.next:hover {
    background: #2EE59D;
    box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
    color: white;
    transform: translateY(-7px);
}

.previous:hover {
    background: #2EE59D;
    box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
    color: white;
    transform: translateY(-7px);
}

.link {
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;
    position: relative;
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: color .1s linear;
}